@charset "utf-8";
/* CSS Document */

body {
	margin:0;
	padding:0;
	width:100%;
	color:#000066;
	font-style: normal;
	line-height: 1.5em;
	font-weight: normal;
	font-variant: normal;
	background-color: #a9cefd;
	background-image: url(../images/main_bg.gif);
	background-repeat: repeat-x;
	background-position: left top;
	text-decoration: none;
}
html, .main {
	padding:0;
	margin:0;
}
.main {
	background:url(../images/hbg_bg.jpg) no-repeat center top;
}
.clr {
	clear:both;
	padding:0;
	margin:0;
	width:100%;
	font-size:0;
	line-height:0;
	background-color: #0F0;
}
h2 {
	margin:8px 0;
	padding:8px 0;
	font-size:24px;
	font-weight:normal;
	color:#6e6e6e;
}
p {
	margin:8px 0;
	padding:0 0 8px 0;
	text-align:justify;
	font-family: Verdana, Geneva, sans-serif;
	font-size: 12px;
	color: #006;
	font-style: italic;
}
a {
	color:#4daaeb;
	text-decoration:underline;
}
.header, .content, .menu_nav, .fbg, .footer, form, ol, ol li, ul, .content .mainbar, .content .sidebar {
	margin:0;
	padding:0;
}
.header {
}
.header_resize {
	margin:0 auto;
	padding:0;
	width:960px;
}
.logo {
	padding:0;
	float:none;
	float:left;
	width:420px;
	height:100px;
	margin-top: 30px;
}
h1 {
	margin:0;
	padding:32px 0 0;
	font-size:36px;
	font-weight:bold;
	text-transform:none;
	font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
	color: #000;
	line-height: 1.2em;
	text-decoration: none;
}
h1 a, h1 a:hover {
	color:#000;
	text-decoration:none;
	font-family: "Arial Black", Gadget, sans-serif;
}
h1 span {
}
h1 small {
	display:block;
	font-size:13px;
	line-height:1.2em;
	letter-spacing:normal;
	text-transform:none;
	color:#000;
	font-family: "Arial Black", Gadget, sans-serif;
}
.slider {
	padding:0;
	background:no-repeat center bottom;
}
.rss {
	padding:18px 20px 0 0;
	float:right;
	width:auto;
}
.rss p {
	margin:0;
	padding:0;
	float:right;
	width:auto;
	color:#fff;
	font-size:13px;
	line-height:1.5em;
	font-weight:bold;
}
.rss a {
	color:#fff;
	text-decoration:none;
}
.rss a:hover {
	text-decoration:underline;
}
.rss img {
	margin:-3px 0 -3px 6px;
	border:none;
}
.reg{
	height:30px;
	float:right;
	padding-top: 60px;
	color: #000;
	
}
.reg ul {
	list-style:none;
	padding:0;
	height:36px;
	float:left;
}
.reg ul li {
	margin:0;
	padding:0 0 0 4px;
	float:left;
}
.reg ul li a {
	display:block;
	margin:0;
	padding:12px 20px;
	font-size:14px;
	line-height:17px;
	font-weight:bold;
	color:#000;
	text-decoration:none;
	text-align:center;
	border:1px dotted #0000FF;
	font-family: "Palatino Linotype", "Book Antiqua", Palatino, serif;
}
.reg ul li.active a, .menu_nav ul li a:hover {
	text-decoration:none;
	color:#000000;
	border:1px dotted #0000FF;
	font-family: "Palatino Linotype", "Book Antiqua", Palatino, serif;
	font-weight: bolder;
	background-color: #FFF;
}
.menu_nav {
	height:auto;
	float:right;
	padding-right: 0;
	padding-bottom: 30px;
	padding-left: 0;
	margin-top: 0px;
}
.menu_nav ul {
	list-style:none;
	padding:0;
	height:auto;
	float:left;
}
.menu_nav ul li {
	margin:0;
	float:left;
	padding-top: 0;
	padding-right: 0;
	padding-bottom: 0;
}
.menu_nav ul li a {
	display:block;
	margin:0;
	padding:12px 20px;
	font-size:14px;
	line-height:17px;
	font-weight:bold;
	color:#fff;
	text-decoration:none;
	text-align:center;
	border:1px solid transparent;
}
.menu_nav ul li.active a, .menu_nav ul li a:hover {
	text-decoration:none;
	color:#7acaf4;
	background:#eee;
	border:1px solid #8fc0ea;
	font-size: 14px;
	background-color: #00C;
}
.content {
	padding-top: 0;
	padding-right: 0;
	padding-bottom: 0px;
	padding-left: 0;
}
.content_resize {
	margin:0 auto;
	padding:0 0 32px;
	width:960px;
	background:#fff;
}
.content .mainbar {
	margin:0;
	padding:0;
	float:left;
	width:684px;
}
.content .mainbar h2 {
	margin-bottom:0;
	padding-bottom:8px;
	font-size:24px;
	line-height:1.2em;
	color:#000000;
}
.content .mainbar div.img {
	float:right;
	width:179px;
	padding-top: 12px;
	padding-right: 0;
	padding-bottom: 0;
	padding-left: 0;
	margin-left: 20px;
}
.content .mainbar img {
}
.content .mainbar img.fl {
	margin:0;
	float: right;
}
.content .mainbar .article {
	margin:0 0 8px;
	padding:6px 20px;
}
.content .mainbar .post_content {
	float:left;
	width:440px;
	color: #000;
}
.content .mainbar .post_content strong {
	color:#6d6d6d;
}


ul.sb_menu, ul.ex_menu {
	margin:0;
	padding:0;
	list-style:none;
	color:#0000FF;
}
ul.sb_menu li, ul.ex_menu li {
	border-bottom:1px solid #e8e8e8;
	
}
ul.sb_menu li {
	padding:8px 0;
	width:220px;
}
ul.ex_menu li {
	padding:8px 0;
}
ul.sb_menu li a {
	color:#000000;
	text-decoration:none;
	margin-left:-16px;
	padding:4px 8px 4px 16px;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	font-weight: bold;
}
ul.ex_menu li a {
	font-weight:bold;
	color:#000066;
	text-decoration:none;
	font-family: Georgia, "Times New Roman", Times, serif;
	font-size: 12px;
}
ul.sb_menu li a:hover, ul.ex_menu li a:hover {
	color:#0000FF;
	font-weight:bold;
	text-decoration:none;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	font-style: italic;
	text-transform: uppercase;
}
p.spec {
	padding:0 0 16px;
}
p.infopost {
	margin:0 0 8px;
	padding:6px 12px;
	color:#a6a5a5;
	border:1px solid #e5e6e6;
	width:415px;
}
p.infopost a {
	padding:0 2px;
	text-decoration:none;
	font-weight:bold;
	color:#a6a5a5;
}
p.infopost a:hover {
	text-decoration:underline;
}
.article a.com {
	display:block;
	float:right;
	margin:-25px 0 0 0;
	padding:11px 0 0 7px;
	width:35px;
	height:32px;
	font-size:32px;
	font-weight:normal;
	text-decoration:none;
	text-align:center;
	color:#fff;
	background:url(../images/comment.jpg) no-repeat left top;
	z-index:999;
}
.article a.com:hover {
	text-decoration:none;
}
.article a.com span {
	font-weight:normal;
}
.post_content a.rm {
	display:block;
	float:left;
	margin:0 0 16px;
	padding:9px 0 0;
	font-size:13px;
	line-height:16px;
	font-weight:normal;
	text-transform:none;
	color:#4daaeb;
	text-decoration:none;
	text-align:center;
}
.post_content a.rm:hover {
	text-decoration:underline;
}
.content p.pages {
	margin:0;
	padding:24px 20px;
	font-size:11px;
	color:#6e6e6e;
	text-align:left;
}
.content p.pages span, .content p.pages a {
	display:block;
	float:left;
	margin:0 4px 0 0;
	padding:5px 0;
	width:26px;
	line-height:16px;
	text-decoration:none;
	text-align:center;
}
.content p.pages span, .content p.pages a:hover {
	color:#fff;
	background:url(../images/page_a.jpg) no-repeat left top;
}
.content p.pages a {
	color:#6d6d6d;
	border:none;
}
.content p.pages small {
	font-size:12px;
	float:right;
}
.content .mainbar .comment {
	margin:0;
	padding:16px 0 0 0;
}
.content .mainbar .comment img.userpic {
	border:1px solid #dedede;
	margin:10px 16px 0 0;
	padding:0;
	float:left;
}
.fbg {
	padding:0;
}
.fbg_resize {
	margin:0 auto;
	width:920px;
	padding:16px 20px;
	color:#fff;
	border-top:3px solid #bad4f4;
	background-color: #CCCCCC;
	background-image: url(../images/line.gif);
	background-repeat: repeat-x;
	background-position: left bottom;
}
.fbg h2 {
	color:#fff;
	padding-bottom:24px;
}
.fbg img.gal {
	margin:0 8px 8px 0;
	padding:0;
	border:4px solid #fff;
}
.fbg .col {
	margin:0;
	float:left;
}
.fbg .c1 {
	width:290px;
	padding-top: 0;
	padding-right: 16px;
	padding-bottom: 0;
	padding-left: 0;
}
.fbg .c2 {
	width:270px;
	padding-top: 0;
	padding-right: 36px;
	padding-bottom: 0;
	padding-left: 16px;
}
.fbg .c3 {
	padding:0 0 0 16px;
	width:274px;
}
.fbg .fbg_ul {
	margin:0;
	padding:0;
	list-style:none;
}
.fbg .fbg_ul li {
	margin:0;
	padding:0;
	list-style:none;
}
.fbg .fbg_ul li a {
	display:block;
	margin:0;
	padding:2px 0 2px 12px;
	color:#fff;
	text-decoration:none;
	background:url(../images/li.gif) no-repeat left center;
}
.fbg .fbg_ul li a:hover {
	color:#fff;
	text-decoration:underline;
}
.fbg p.contact_info {
	line-height:1.8em;
}
.fbg p.contact_info a {
	color:#fff;
	text-decoration:underline;
}
.fbg p.contact_info span {
	display:block;
	float:left;
	width:74px;
	font-weight:bold;
}
ol {
	list-style:none;
}
ol li {
	display:block;
	clear:both;
}
ol li label {
	display:block;
	margin:0;
	padding:16px 0 0 0;
}
ol li input.text {
	width:480px;
	border:1px solid #c0c0c0;
	margin:0;
	padding:5px 2px;
	height:16px;
	background-color:#fff;
}
ol li textarea {
	width:480px;
	border:1px solid #c0c0c0;
	margin:0;
	padding:2px;
	background-color:#fff;
}
ol li .send {
	margin:16px 0 0 0;
}
.searchform {
	padding:0;
	float:left;
}
#formsearch {
	margin:0;
	padding:24px 0 0 20px;
	width:auto;
	height:33px;
}
#formsearch span {
	display:block;
	margin:0;
	padding:0;
	float:left;
	background:url(../images/search_bg.gif) no-repeat left top;
}
#formsearch input.editbox_search {
	margin:0;
	padding:9px 6px 9px 16px;
	float:left;
	width:169px;
	font-size:12px;
	line-height:14px;
	color:#a8acb2;
	background:none;
	outline:none;
	border:none;
}
#formsearch input.button_search {
	margin:0;
	padding:0;
	border:none;
	float:left;
}
.footer {
}
.footer_resize {
	margin:0 auto;
	padding:0 20px;
	width:920px;
	line-height:1.5em;
	color:#fff;
	background-color: #FFFFFF;
}
.footer_resize p {
	margin:24px 0;
	padding:0;
	line-height:normal;
	white-space:nowrap;
	text-indent:inherit;
}
.footer_resize a {
	color:#600;
	margin:0;
	padding:0;
	border:none;
	text-decoration:none;
	background-color:transparent;
}
.footer_resize a:hover {
	color:#00F;
	background-color:transparent;
	text-decoration:none;
}
.footer_resize .lf {
	float:left;
}
.footer_resize .rf {
	float:right;
	font-weight: bold;
}

.end
{
}
.end_text {
	color: #000;
	text-align: center;
}
.end_text a {
	color: #666;
	text-decoration: none;
}
.topic-post {
	height: 100px;
	overflow: auto;
}
.post1	{
	height: auto;
	width: 30%;
}
.post2	{
	height: auto;
}
.post-content {
	padding: 30px;
	text-align: justify;
	vertical-align: middle;
	height: auto;
	width: auto;
	border-style: solid;
	border-color: #000;	
}
.user-post	{
	height: auto;
	width: 1000px;
}
textarea {
	width: 500px;
	height: 200px;
}
table {
	border-collapse: collapse;
	width: 100%;
}

table a {
	color: #00F;
	text-decoration: none;
}

table a:hover {
	color:#0000FF;
	text-decoration: underline;
}

th {
	background-color: #CCCCCC;
	color: #000000;
}

td {
	padding: 5px;
	text-align: justify;
	vertical-align: middle;
	height: auto;
	width: auto;
}


h1{
	font-family: Arial;
	color: #000000;
}

h3 {margin: 0; padding: 0;}
