/* Notification Wrapper */
#sport_notification_wrapper {
	width:250px;
	position:fixed;
	top:203px;
	left:1080px;
	z-index:99999;
	background:#FFF;
	border: solid 1px #cbcbcb;
	background-color: #FFF;
	box-shadow: 0 0 10px #cbcbcb;
	padding:0px;
	display:none;
	padding:10px;
	word-wrap: break-word;
}


/* Profile Photo Wrapper */
.sport_profile_photo_wrapper
{
	width:200px;
	border: solid 1px #cbcbcb;
	 background-color: #FFF;
	 box-shadow: 0 0 15px #cbcbcb;
	padding:10px;
	padding-left:20px;
	padding-right:20px;
	font-family:Verdana, Geneva, sans-serif;
	font-size:11px;
	text-align:center;
	float:left;
}


/* Friends Box Wrapper */
.friend_ship_wrapper
{
	width:200px;
	border: solid 1px #cbcbcb;
	 background-color: #FFF;
	 box-shadow: 0 0 15px #cbcbcb;
	padding:10px;
	padding-left:20px;
	padding-right:20px;
	font-family:Verdana, Geneva, sans-serif;
	font-size:11px;
	text-align:center;
	float:left;
}


/* People you may want to add as friends Wrapper */
.sport_people_you_may_want_to_follow_wrapper
{
	width:230px;
	border: solid 1px #cbcbcb;
	 background-color: #FFF;
	 box-shadow: 0 0 15px #cbcbcb;
	padding:10px;
	font-family:Verdana, Geneva, sans-serif;
	font-size:15px;
	color:#005B88;
	text-align:left;
	float:right;
	cursor:pointer;
}
.sport_people_you_may_want_to_follow_wrapper:hover
{
	 background-color: #C63;
	cursor:pointer;
	color:#FFF;
}

/* Photos */
.sport_people_you_may_want_to_add_or_cancel_photos{width:80px;min-height:60px; height:auto;border-radius: 5px; margin-right:10px; float:left;}


/* Form Wrapper */
.sport_main_wrapper
{
	width:450px;
	margin: 0 auto;
	border: solid 1px #cbcbcb;
	 background-color: #FFF;
	 box-shadow: 0 0 15px #cbcbcb;
	padding:10px;
	padding-left:20px;
	padding-right:20px;
	font-family:Verdana, Geneva, sans-serif;
	font-size:11px;
}


/* Input Boxes Style */
.sport_textAreaBoxInputs {min-width:260px; width:auto;height:20px;font-family:Verdana, Geneva, sans-serif; font-size:12px;padding:7px; padding-left:10px; padding-right:10px;border: 1px solid #6CF;outline:none;border-radius: 2px;line-height:20px;}
.sport_textAreaBoxInputs:focus {outline:none;border: 1px solid #6CF;box-shadow: 0 0 10px #6AB5FF;-moz-box-shadow: 0 0 10px #6AB5FF;-webkit-box-shadow: 0 0 10px #6AB5FF;}


/* Error Message Style */
.info {
	border: 1px solid #999;
	padding:12px;
	font: bold 12px verdana;
	box-shadow: 0 0 5px #888;
	text-shadow: 2px 2px 2px #ccc;
	border-radius: 10px;
	font-family:Verdana, Geneva, sans-serif;
	font-size:11px;
	line-height:20px;
	font-weight:normal;
	color: black;
	background: #BDE5F8;
	
}

.sport_infor {
	border: 1px solid #999;
	padding:12px;
	font: bold 12px verdana;
	box-shadow: 0 0 5px #888;
	text-shadow: 2px 2px 2px #ccc;
	border-radius: 10px;
	font-family:Verdana, Geneva, sans-serif;
	font-size:11px;
	line-height:20px;
	font-weight:normal;
	color: black;
	background: #FFFFDF;
}


/* sptlus Button */
.sport_general_button_g 
{
	background-color: #000099;
	border: 2px solid #0000CC;
	box-shadow: 0 2px 3px #666666;
	border-radius: 8px;
	color: #fff;
	font-family:Verdana, Geneva, sans-serif;
	font-size:13px;
	text-align: center;
	text-shadow: 0 -1px 0 #4c9021;
	min-width: 70px;
	width: auto;
	padding:9px;
	padding-left:13px;
	padding-right:13px;
	text-decoration:none;
	float:left;
}
.sport_general_button_g:hover 
{
	background-color: #0066FF;
	box-shadow: 0 2px 3px #666666;
	border-radius: 8px;
	cursor: pointer;
}

.sport_general_button_r {
	background-color: #A41518;
	border: 1px solid #951100;
	box-shadow: 0 2px 3px #951100;
	border-radius: 5px;
	box-shadow: inset 0px 0px 0px 1px rgba(255, 115, 100, 0.4), 0 1px 3px #333333;
	text-shadow: 0px -1px 1px rgba(0, 0, 0, 0.8);
	color: #fff;
	font-family:Verdana, Geneva, sans-serif;
	font-size:13px;
	text-align: center;
	min-width: 70px;
	width: auto;
	padding:11px;
	padding-left:13px;
	padding-right:13px;
	text-decoration:none;
	float:left;	
}
.sport_general_button_r:hover 
{
	background-color: #FF2025;
	box-shadow: 0 2px 3px #666666;
	border-radius: 8px;
	cursor:pointer;
}

.tablep {
	font-family: Georgia, "Times New Roman", Times, serif;
	font-size: 16px;
	font-weight: bold;
	color: #000;
	height: auto;
	margin-top: 20px;
}
