
.calendar-box {
    display:none;
    background-color:#eef3f9;
    border:1px solid #56bde8;
    position:absolute;
    width:190px;
    padding: 0 5px;
    box-shadow:1px 2px 4px #cccccc;
    font-size: 8pt;
    -webkit-border-radius: 5px 5px 5px 5px;-moz-border-radius: 5px 5px 5px 5px;border-radius: 5px 5px 5px 5px;
    z-index: 9999;
}
.calendar-box select.calendar-month {
    font-size: 8pt;
    width:80px;
}
.calendar-box select.calendar-year {
    font-size: 8pt;
    width:50px;
}
.calendar-box .calendar-cancel {
    text-align: right;
    margin-left: 165px;
    padding-top: 5px;
    cursor: pointer;
}
.calendar-box table td {
    font-size: 8pt;
    width:14%;
    color: #1277a1;
    font-weight: bold;
}
.calendar-box .calendar-title {
    font-size: 8pt;
    text-align:center;
}
.calendar-box a {
    font-size: 8pt;
    color: #000000;
    font-weight:normal !important;
}
.calendar-box .today a {
    font-size: 8pt;
    padding:0 5px;
    margin-left:-5px;
    background-color:#7ac9ea;
    color: #000000;
}
.calendar-box .selected a {
    font-size: 8pt;
    padding:0 5px;
    margin-left:-5px;
    background-color:#56bde8;
}
