#mobEmailResetForm{
    /*margin-left: 20px;*/
}

#commen-box{
    background:#F5F5F5;
    border: 1px solid #E5E5E5;
    padding: 20px 20px 15px;
    text-align: left;
}
#commen-box .count{
    display: inline-block;
    position: absolute;
    color: #56bde8;
    font-size: 20px !important;
    margin-top: -7px;
    font-weight: bold;
}
#commen-box form{
    line-height: 25px;
}

.commen-text{
    border-top: 1px solid #FFFFFF;
    padding-bottom: 10px;
    padding-top: 5px;
}
.commen-heading{
    border-bottom: 1px solid #CCCCCC;
    padding-bottom: 10px;
}
.commen-heading p{
    font-size: 21px !important;
    margin-left: 40px;
}
#siteseal{
    padding: 10px 10px 10px 13px;
}
.seal{
    height: 550px;
    margin-left: -10px;
    margin-right: 20px;
}
.NICwidth{
*width: 75px !important;
}
.error_commen{
    color: red;
    margin-left: 123px;
    padding: 10px;
}
.err_header{
    text-align: center;
    margin-bottom: 10px;
}
.err_header_edit{
    text-align: left;
    margin-bottom: 10px;
    padding-left: 50px;
}