#errortips{ display: none; position: absolute; padding: 10px; left: 5px; font-size: 0.8em; background-color: white; border: 1px solid #FDD017; -moz-border-radius: 5px; -webkit-border-radius: 5px; z-index: 9999 }
#errortips #vtipArrow { position: absolute; top: -10px; left: 5px }
