/* 
    Document   : password
    Created on : Aug 17, 2011, 5:11:43 PM
    Author     : priyantha
    Description:
        Purpose of the stylesheet follows.
*/

/* 
   TODO customize this sample style
   Syntax recommendation http://www.w3.org/TR/REC-CSS2/
*/

.password {
font-size : 12px;
/*border : 1px solid #cc9933;*/
font-family : arial, sans-serif;
}
.pstrength-minchar {
font-size : 10px;
}
#password_text{font-size: 9pt !important; *line-height: 10px; *font-size: 7pt !important;}

.pstrength-bar{
    height: 5px;
    *height: 3px;
}
