body, div, h1, h2, h3, h4, h5, h6, p, ul, ol, li, dl, dt, dd, img, form, fieldset, blockquote {
    margin: 0; padding: 0; border: 0;
    font-family: arial,sans-serif !important;
    font-size: 10pt !important;
    text-decoration: none !important;
}

input,textarea,select{
    font: 12px Helvetica, Sans-Serif; color: #000000;
}
.disable {
    color: GrayText !important;
    cursor: inherit;
    background:#f0f0f0 !important;
}
body {
    font: 12px Helvetica, Sans-Serif; line-height: 24px; color: #000000;
    background:url(" /signup/resources/images/sportslk/header_bg.jpg") repeat-x scroll center top #026100;
}

#MainFrame {
    width: 960px; margin: 0px auto; background: none; /*background: url(images/grid.png) center top no-repeat;*/
    /*box-shadow: 0px 0px 20px #77e05e;
    -moz-box-shadow: 0px 0px 20px #77e05e;
    -webkit-box-shadow: 0px 0px 20px #77e05e;*/
    border-top: 0px solid #DA0F0F;
    *margin:0px 150px;
}

#LeftFrame{
    width:190px;
    float: left;
    margin-right: 10px;
    border-left: 2px solid #FDC4DD;
}
#PageBody{
    background: #FFFFFF;
    clear: both;
}

#RightFrame{
    width:190px;
    float: left;
}
#PageHeader .Logo{
   width: 250px;
   background:url( /signup/resources/images/sportslk/logo.png) no-repeat top;
   padding: 52px 10px;
   float: left;
   *padding-top: 35px;
}
#PageHeader .content{
   background: #FFFFFF;
   font-size: 15px;
   color: #000000;
}
.clear{
    clear: both;
}
a {
    color: #abe2ff; text-decoration: none;
}
a:hover {
    color: #5db5e3;
}
#PageFooter{
    padding: 10px;
    background: none repeat scroll 0 0 #FDFDFD;
    border-top: 2px solid #C2EABE;
}

.FooterContent{
    font-size: 10px;
    text-align: center;
}
.link {
    color: #999999;
}
.link a{
    color: #999999;
    padding: 5px;
    font-size: 10pt;
}
.link a:hover{
    color: #000000;
    background-color:#c2eabe;
    padding: 4px;
    border: 1px solid #48bb2c;
    -webkit-border-radius: 8px 8px 8px 8px;-moz-border-radius: 8px 8px 8px 8px;border-radius: 8px 8px 8px 8px;
    text-shadow:1px 1px #FFFFFF;
}
.copyright{
    font-size: 11px !important;
}

#registrationform{
    font-size: 12px;
    line-height: 17px;
    *line-height: 28px;
}

#registrationform th{
    text-align: left;
    padding-right: 30px;
    font-weight: normal;
    vertical-align: top;
}
#registrationform td{
    vertical-align: top;
}

.notice{
    background: url(" /signup/resources/images/notice.png") no-repeat scroll 1% 40% #fffce9;
    border: 1px solid #FFFFFF;
    color: #9f8106;
    font-size: 12px;
    outline: 1px solid #fcf2b1;
    *border: 1px solid #fcf2b1;
    padding: 5px 30px;
    margin-bottom:5px;
}
.error{
    /*background: url(" /signup/resources/images/error.png") no-repeat scroll 1% 40% #FEF9F8;
    border: 1px solid #FFFFFF;*/
    color: red;
    font-size: 12px;
    /*outline: 1px solid #FEE3EF;
    *border: 1px solid #FEE3EF;*/
    padding: 5px 0px;
    margin-bottom:5px;
}
.success{
    background: url(" /signup/resources/images/success.png") no-repeat scroll 1% 40% #ecf7c7;
    border: 1px solid #FFFFFF;
    color: #438700;
    font-size: 12px;
    outline: 1px solid #9ab344;
    *border: 1px solid #9ab344;
    padding: 5px 30px;
    margin-bottom:5px;
}

#registrationform input[type=text],[type=password],[type=file]{
    padding: 3px;
    border: 1px solid #c2eabe;
    width: 213px;
    margin-bottom: 5px;
    background: url(" /signup/resources/images/inputbg.jpg") repeat scroll right 32% transparent;
    *background: url(" /signup/resources/images/inputbg.jpg") repeat scroll right 32% transparent;
    *padding: 3px;
    *border: 1px solid #c2eabe;
}
#registrationform [type=file]{
    cursor: pointer;
    opacity: 0;
    position: relative;
    text-align: left;
    z-index: 2;
    width: 213px;
    margin-top: 0px;
    *background: url(" /signup/resources/images/inputbg.jpg") repeat scroll right 32% transparent;
    *padding: 3px;
    *border: 1px solid #c2eabe;
}
#registrationform .short-email{
    padding: 3px;
    border: 1px solid #c2eabe;
    width: 213px;
    margin-bottom: 5px;
    background: url(" /signup/resources/images/inputbg.jpg") repeat scroll right 32% transparent;
    *background: url(" /signup/resources/images/inputbg.jpg") repeat scroll right 32% transparent;
    *border: 1px solid #c2eabe;
    *padding: 3px;
}
#registrationform textarea{
    padding: 3px;
    border: 1px solid #c2eabe;
    width: 213px;
    margin-bottom: 5px;
    line-height: 15px;
    height: 55px;
    *padding: 3px;
    *border: 1px solid #c2eabe;
}
#registrationform .short{
    padding: 5px;
    border: 1px solid #c2eabe;
    margin-bottom: 5px;
    background: url(" /signup/resources/images/inputbg.jpg") repeat scroll right 32% transparent;
    width:auto !important;
    *background: url(" /signup/resources/images/inputbg.jpg") repeat scroll right 32% transparent;
    *padding: 3px;
    *border: 1px solid #c2eabe;
}
#registrationform .short-nic{
    padding: 5px;
    width:129px !important;
    *background: url(" /signup/resources/images/inputbg.jpg") repeat scroll right 32% transparent;
    *padding: 3px;
    *border: 1px solid #c2eabe;
}
#registrationform .short-pic{
    padding: 5px;
    width:149px !important;
    *background: url(" /signup/resources/images/inputbg.jpg") repeat scroll right 32% transparent;
    *padding: 3px;
    *border: 1px solid #c2eabe;
}
#registrationform .short-mobi{
    padding: 5px;
    width:75px !important;
    *background: url(" /signup/resources/images/inputbg.jpg") repeat scroll right 32% transparent;
    *padding: 3px;
    *border: 1px solid #c2eabe;
}
#registrationform .short-code{
    width:50px !important;
    *background: url(" /signup/resources/images/inputbg.jpg") repeat scroll right 32% transparent;
    *padding: 3px;
    *border: 1px solid #c2eabe;
}
#registrationform .short-lan{
    padding: 5px;
    width:75px !important;
    *background: url(" /signup/resources/images/inputbg.jpg") repeat scroll right 32% transparent;
    *padding: 3px;
    *border: 1px solid #c2eabe;
}
#registrationform .short-pw{
    width:105px !important;
    float: left;
    *background: url(" /signup/resources/images/inputbg.jpg") repeat scroll right 32% transparent;
    *padding: 3px;
    *border: 1px solid #c2eabe;
}
#registrationform .short-firstlast{
    width:105px !important;
    margin-right: 3px;
    *background: url(" /signup/resources/images/inputbg.jpg") repeat scroll right 32% transparent;
    *padding: 3px;
    *border: 1px solid #c2eabe;
}
#registrationform input[type=radio]{
    border: 1px solid #a5d2f8;
    margin: 2px 0;
    *background: url(" /signup/resources/images/inputbg.jpg") repeat scroll right 32% transparent;
    *padding: 3px;
    *border: 1px solid #c2eabe;
}
#registrationform input[type=checkbox]{
    margin-left: 0px;
    *background: url(" /signup/resources/images/inputbg.jpg") repeat scroll right 32% transparent;
    *padding: 3px;
    *border: 1px solid #c2eabe;
}
#registrationform select{
    border: 1px solid #c2eabe;
    margin-bottom: 5px;
    margin-right: 3px;
    float: left;
    padding: 2px;
    *background: url(" /signup/resources/images/inputbg.jpg") repeat scroll right 32% transparent;
    *padding: 3px;
    *border: 1px solid #c2eabe;
    *width: 213px;
}
#registrationform select.short-cty{
    width: 213px;
    *background: url(" /signup/resources/images/inputbg.jpg") repeat scroll right 32% transparent;
    *padding: 3px;
    *border: 1px solid #c2eabe;
    *width: 213px;
}

.button{
    -moz-border-bottom-colors: none;
    -moz-border-image: none;
    -moz-border-left-colors: none;
    -moz-border-right-colors: none;
    -moz-border-top-colors: none;
    background-color: #FFFFFF;
    background-image: url(" /signup/resources/images/buttonblue.png");
    background-position: left bottom;
    background-repeat: repeat-x;
    border-color: #C4D1DB #9EB7CD #9EB7CD #C4D1DB;
    border-right: 1px solid #9EB7CD;
    border-style: solid;
    border-width: 1px;
    box-shadow: 0 1px 2px #f0f0f0, 0 1px 0 #f0f0f0 inset;
    font-size: 14px;
    font-weight: bold;
    height: 25px;
    padding-left: 12px;
    padding-right: 12px;
    text-shadow: 0 1px 1px #FFFFFF;
    margin-top: 10px;
    cursor: pointer;
    width: 80px;
    *width: 80px;
}
.button:hover{
    box-shadow: 0 1px 4px #cccccc, 0 4px 0 #ffffff inset;
}

.err_notification {color:red;font-weight:bold; font-size: 8pt;}
.err_success {
    background: url( /signup/resources/images/ok.png) no-repeat;
    float: left;
    margin-top: 2px;
    margin-left: 4px;
    padding: 10px;
    *padding: 0 10px;
}
#leftmenu{
    margin: 0px;
    padding: 0px
}
#leftmenu ul{
    list-style: none;    
}
#leftmenu li{
    background-color: #f1f1f2;
    margin:1px;
    padding: 4px;
    outline:1px solid #dddddd;
    border-top:1px solid #ffffff;
}
#leftmenu li:hover{
    background-color: #f3f3f8;
    margin:1px;
    padding: 4px;
    outline:1px solid #dddddd;
    border-top:1px solid #ffffff;
}
#leftmenu ul li a{
    line-height: 15px;
    color: #000000;
    text-shadow:1px 0px #FFFFFF;
    font-weight: bold;
}
.errortips{
    text-align: left;
    background: url( /signup/resources/images/cross.png) no-repeat;
    float: left;
    margin-top: 4px;
    margin-left: 5px;
    width: 16px;
    height: 16px;
    *margin-top: 0px;
    *padding: 0 10px;
}
#control_panel           {margin: 0px 0px;}
#control_panel ul        {list-style: none outside none; margin: 0; padding-right: 10px; padding-top: 50px; text-align: right;}
#control_panel li        {display: inline; margin: 0px;}
#control_panel span      {color: #ffffff;padding: 8px 10px;}
#control_panel a         {color: #333333; padding: 5px 10px;
                          text-decoration: none;
                          text-transform: uppercase;
                          font-size: 11px;
                          font-weight: bold;
                          background: #ff9900 url( /signup/resources/images/sportslk/controlpannel_a_default.jpg) top repeat-x;
                          border-bottom: none;
                          margin: 0px 2px;
                          -webkit-text-shadow: 0em 1px 0em #ffff00;
                          -moz-text-shadow: 0em 1px 0em #ffff00;
                          text-shadow: 0em 1px 0em #ffff00;
                          -webkit-border-radius: 8px 8px 8px 8px;-moz-border-radius: 8px 8px 8px 8px;border-radius: 8px 8px 8px 8px;
                          -webkit-box-shadow: 0em 1px 4px #000;
                          -moz-box-shadow: 0em 1px 4px #000;
                          box-shadow: 0em 1px 4px #000;
}
#control_panel a.blue       {
    background: #0099ff url( /signup/resources/images/sportslk/controlpannel_a_blue.jpg) top repeat-x;
    -webkit-text-shadow: 0em 1px 0em #9ddafd;
    -moz-text-shadow: 0em 1px 0em #9ddafd;
    text-shadow: 0em 1px 0em #9ddafd;
}
#control_panel a:hover.blue       {
    background: #06B6F2;
}
#control_panel img          {position: relative; top: 6px; left: -6px; padding: 4px;}
#control_panel a:hover   {
    background: #ffcc00;
}

#content-mid-div{
    background: none repeat scroll 0 0 #FFFFFF;
    padding: 10px 30px;
    width:900px;
    *width:960px;
    float: left;
}

.left_float{
    float: left;
    padding: 5px 10px 5px 0;
}
.BrowseBtnFrame {
    position: absolute;
    z-index: 0;
    top:0;
    bottom: 0;
    *display:none;
}
.BrowseBtnFrameTop{
    width: 215px;
    *margin-left: 2px;

}
.BrowseBtn {
    background: url(" /signup/resources/images/browse.jpg") no-repeat scroll 0 -23px transparent;
    cursor: pointer;
    height: 22px;
    padding-bottom: 0;
    vertical-align: top;
    width: 59px;
    border: 1px solid #C2EABE;
}
.ChangePw{
    padding-top: 1px;
}
.ChangePw a{
    background: url(" /signup/resources/images/Chapwbg.jpg") repeat-x scroll 0 0 transparent;
    cursor: pointer;
    height: 26px;
    padding: 5px;
    padding-top: 4px;
    margin-right: 5px;
    color: #000000;
    border-bottom: 1px solid #FFFFFF;
    outline: 1px solid #F0F0F0;
}
.ChangePw a:hover{
    color: #000000;
    box-shadow: 0 1px 1px #CCCCCC;
}
.PasswordForm{
    padding: 10px;
}
.PasswordForm label{
    padding-right: 10px;
}
.prifileimage{
    border: 1px none;
    z-index: 1;
    background: #F1F1F1;
    border-bottom: 1px solid #ffffff;
    outline: 1px solid #C4D1DB;
    margin: 5px 30px 5px 5px;
    padding: 5px;
}
.left{float: left;}
.imgcapture{margin: 5px 0; border: 1px dotted #DDDDDD;  width: 150px;}
.infomsg{background: #FFFFFF url(/signup/resources/images/info.png)no-repeat left top; *background: url(/signup/resources/images/info.png) no-repeat; width: 350px; display: block; position: absolute; color: #797878; margin-top: 4px; font-size: 12px !important; margin-left: 15px; text-align: left; padding-bottom: 5px; padding-left: 30px; *line-height: 17px;}
.toppadding{margin-top: 30px;}
#message-box{
    background:#F5F5F5;
    border: 1px solid #E5E5E5;
    padding: 14px;
    width:405px;
    height: 170px;
    *width:435px;
    *height: 190px;
    text-align: left;
    float: left;
}
#message-box .count{
    display: inline-block;
    position: absolute;
    color: #56bde8;
    font-size: 20px !important;
    margin-top: -2px;
    margin-left: 8px;
    font-weight: bold;
}
#message-box form{
    line-height: 25px;
}

.message-text{
    border-top: 1px solid #FFFFFF;
    padding-bottom: 10px;
    padding-top: 5px;
}
.message-heading{
    border-bottom: 1px solid #CCCCCC;
    padding-bottom: 10px;
}
.message-heading p{
    font-size: 21px !important;
    margin-left: 40px;
}
.editMobBtn{
    background: url(/signup/resources/images/editmobile.png) no-repeat;
    padding: 0px 8px;
    cursor: pointer;
    margin-left: 5px;
    *width: 20px;
}
.resendsms{
    background: url(/signup/resources/images/resendsms.png) no-repeat;
    padding: 0px 8px;
    cursor: pointer;
    margin-left: 0px;
    *width:20px;
}
.resendemail{
    background: url(/signup/resources/images/resendemail.png) no-repeat;
    padding: 0px 8px;
    cursor: pointer;
    margin-left: 5px;
    *width:20px;
}
.row{
    position: relative;
    margin-bottom: 0.25em;
    padding: 0;
}
.row label{
    display: inline-block;
    padding: 3px;
    line-height: 15px;
}
.row span{
    display: inline-block;
    vertical-align: top;
}
.fieldwidth{
    width: 220px;
}
.fieldmargin{
    margin-left:170px;
    display:block !important;
    *margin-left:165px;
}
.fieldmarginbtn{
    margin-left:166px;
    *margin-left:160px;

}
.fieldmarginbtn input{
    margin-right:5px;
}
.label{
    padding: 4px;
    width: 160px;
}
.labeledit{
    padding: 4px;
    width: 130px;
    *padding-bottom: 0px;
}
.msgContainer{
    position: absolute;
    display: block;
    width: 28em;
    vertical-align: top;
    top: 0;
    left: 31em;
    *left: 33em;
}
.msgContainerEdit{
    position: absolute;
    display: block;
    width: 28em;
    vertical-align: top;
    top: 0;
    left: 30em;
    *line-height: 20px;
    *width: 23em;
    *left: 30em;
}
#dialog-form{
    *height: 180px !important;
}
#otherContent
{
    line-height: 18px;
    background: none repeat scroll 0 0 #FFFFFF;
    float: left;
    padding: 10px 30px;
    width: 900px;
}
#otherContent p
{
    margin: 5px;
    margin-bottom: 15px;
}
#otherContent li{
    list-style: square outside none;
    margin: 5px 5px 5px 35px;
}
.or{
    float: left;
    margin: 70px 4px;
    font-weight: bold;
}
#emailAddrSaveMsg{
    *line-height: 15px !important;
}
#emailAddrResendMsg{
    *line-height: 15px !important;
}
.msgRemember{
    background:#ffc0cb;
    outline: 1px solid #F03D6F;
    float: left;
    font-size: 9pt !important;
    line-height: 18px;
    margin-left: 10px;
    padding: 0 5px;
    position: relative;
    width: 170px;
    *line-height: 20px;
}


