/* 
    Document   : toolTips
    Created on : Aug 5, 2011, 1:28:54 PM
    Author     : priyantha
    Description:
        Purpose of the stylesheet follows.
*/

/* 
   TODO customize this sample style
   Syntax recommendation http://www.w3.org/TR/REC-CSS2/
*/

.form-item { margin: 20px 0; }
.form-label { font-size: 1pt; }

#tooltip{
    font-size: 6pt;
    position:absolute;

    border:1px solid #333;

    background:#f7f5d1;

    padding:2px 5px;

    color:#333;

    display:none;


}

#dhtmltooltip{
    font-size: 0.8em;
    position: absolute;
    left: -300px;
    /*width: 450px;*/
    border: 1px solid #FDD017;
    padding: 10px;
    background-color: #fefefe;
    visibility: hidden;
    z-index: 9999;
    -moz-border-radius: 5px; -webkit-border-radius: 5px;
   
}

#dhtmlpointer{
    position: absolute; top: 10px; left: 5px; margin-top: 4px;visibility: hidden; z-index: 9999;
}




